
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.scc
*.vssscc
obj/
[Rr]elease*/
_ReSharper*/
.files/*
.idea/*
.idea/
*node_modules*
[Tt]est[Rr]esult*
*/.idea/*
*.orig
typings/*
.vscode/*
**/.vscode/*
.tags
avatar/*.jpg
images/tmp/*
.vs/*
MD.ImageMerge/lib/tmp/*
/.scannerwork/.sonar_lock
/.scannerwork/report-task.txt
/sonar-project.properties
